

<h2>Child Component</h2> 
<button (click)="changeMutableData()">Mutate</button>
<div style="color: blue;">
    <p>name: {{objData.name}}</p>
    <p>number: {{objData.number}}</p>
</div>

<app-sub-child [objData]="objData"></app-sub-child>