

<h3>Sub Child <span style="color: blueviolet; text-decoration: underline;">changeDetection: ChangeDetectionStrategy.OnPush</span></h3>
<div style="color:blueviolet">
    <p>name: {{objData.name}}</p>
    <p>number: {{objData.number}}</p>
</div>
<button (click)="immutate()" style="background: blueviolet; color: honeydew;">Immutate object</button>

{{ titleText.str }}
