<h1>Root App Component</h1>

<input type="text" [(ngModel)]="inputData.name">
<input type="text" [(ngModel)]="inputData.number">
<button (click)="changeObj_mutable()" style="background: red; color: #fff;"> mutable objData</button>
<button (click)="changeObj_immutable()" style="background: blue; color: #fff;"> immutable objData</button>

<div style="color: orangered;">
    <p>name: {{objData.name}}</p>
    <p>number: {{objData.number}}</p>
</div>

<app-child-view [objData]="objData"></app-child-view>
<app-some2-without-child [objData]="objData"></app-some2-without-child>


<h1 style="color: grey;">
    But the main benefit, in my opinion, is that by binding all our components inputs to state properties we can change the change detection strategy to on push, and this is going to be a boost on performance for the application.
</h1>


<h2>Test Rollback 2</h2>


<h3>Test Rollback 3</h3>
